.card{

background:rgba(0,0,0,.35);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

box-shadow:
0 0 30px rgba(255,0,183,.5),
0 0 60px rgba(255,0,183,.2);

}