body::after{
content:"";
position:absolute;
inset:-20%;
background:
radial-gradient(circle,#ff00b730 0%,transparent 30%),
radial-gradient(circle,#ff00b720 0%,transparent 40%);
animation:bgPulse 10s infinite alternate;
pointer-events:none;
}

@keyframes bgPulse{

0%{
transform:scale(1);
}

100%{
transform:scale(1.3);
}

}