.pfp{

animation:
float 4s infinite ease-in-out,
pulseGlow 3s infinite alternate;

}

@keyframes pulseGlow{

from{
box-shadow:
0 0 20px #ff00b7;
}

to{
box-shadow:
0 0 50px #ff00b7,
0 0 100px #ff00b7,
0 0 150px #ff00b7;
}

}